body {
	font-family: 'Monospace', Lucida Console;
}

#Header {
	color: Black;
	text-align: center;
	background-image: url("green_image.jpg");
	position: relative;
	min-height: auto;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-position: center;
	padding: 200px;
	
}
	
p {
	color: Black;
	font-family: Georgia
	font-size: 100px;
}

.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}


