body {
	font-family: 'Monospace', Lucida Console;
}
#Header {
	background-color: PaleGreen ;
}
#nav {
	background-color: LavenderBlush;
}
#CoolStuff {
	background-color: powderblue;
	padding: 10px;
}
#Expirence {
	background-color: Thistle;
	
}