body {
	font-family: 'Monospace', Lucida Console;
}
#Header {
	text-align: center;
}
#nav {
	text-align: center;
}
#CoolStuff {
	/*background-color: powderblue;*/
	padding: 10px;
}
#Expirence {
	/*background-color: Thistle;*/
	
}
* {
	background-color: rgb(0, 100, 100);
	color: AntiqueWhite;

}
p {
	font-family: Georgia
	font-size: 100px;
}

.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}